.facesGrid {
  .facesGrid-container {
    max-width: 1024px;
    margin: 0 auto;
  }

  .facesGrid-item {
    position: relative;
    background: rgba(38, 38, 38, .5);
    border: 1px solid rgba(67, 67, 67, .5);
    height: 120px;
    width: 120px;
    -webkit-transition: background .2s ease-in, border-color .2s ease-in;
    display: inline-block;

    body.x-phone & {
      margin: 0 10px 0 0;
      _padding: 30px;

      &:first-child {
        margin-top: 0;
      }
    }

    body:not(.x-phone) & {
      display: inline-block;
    }

    .image {
      background-color: #fff;
      background-position: center;
      background-repeat: no-repeat;
      height: 118px;
      max-width: 120px;
      background-size: 120px 178px;

      &.unselected {
        $filterString: "grayscale(100%)";
        $filterString2: "grayscale(1)";

        filter: $filterString;
        -webkit-filter: $filterString;
        -moz-filter: $filterString;
        -ms-filter: $filterString;
        -o-filter: $filterString;
        filter: url(desaturate.svg#greyscale);
        filter: gray;
        -webkit-filter: $filterString2;
        opacity: .4;
      }

      body.x-phone & {
        margin: 0 auto;
      }

      body:not(.x-phone) & {
        width: 120px;
      }
    }

    .name, .update {
      position: absolute;
      bottom: 20px;
      width: 100%;
      padding-top: 0px;
      font-size: 14px;
      text-shadow: 0 1px 0 #000;
      color: #fff;
      font-family: 'Quattrocento Sans', sans-serif;
      text-align: center;
    }

    .update {
      top: 20px;
      right: 5px;
      font-size: 18px;
      text-align: right;
    }

    .x-landscape & {
      margin: 1px;
    }

    .x-portrait & {
      margin: 2px;
    }
  }

  .x-item-pressed {
    background: rgba(0, 53, 41, .7);
    border-color: rgba(0, 53, 41, .8);
  }

  .facesGrid-inner {
    line-height: 10px;

    .x-landscape & {
      padding-top: 10px;
    }

    .x-portrait & {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }

  &.root {
    background-image: url(../images/bg.jpg);
    background-position: top center;
    background-repeat: no-repeat;

    body:not(.x-phone).x-landscape & {
      .facesGrid-item {
        &:first-child {
          margin-right: 345px;
        }
      }
    }

    .x-phone & {
      .facesGrid-inner {
        padding-top: 100px;
      }
    }

    body:not(.x-phone).x-portrait & {
      .facesGrid-inner {
        padding-top: 280px;
      }
    }
  }
}