@font-face {
  font-family: 'LePatinHelvete';
  src: url('../fonts/osp_le-patin-helvete-webfont.eot');
  src: url('../fonts/osp_le-patin-helvete-webfont.eot') format('embedded-opentype'), url('../fonts/osp_le-patin-helvete-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body {
  direction: rtl;
  height: 100%;
  background-color: #1985D0;
  font-family: LePatinHelvete, "Helvetica Neue", HelveticaNeue, "Helvetica-Neue", Helvetica, "BBAlpha Sans", sans-serif !important;
}

#appLoadingIndicator {
  position: absolute;
  top: 50%;
  margin-top: -15px;
  text-align: center;
  width: 100%;
  height: 30px;
  -webkit-animation-name: appLoadingIndicator;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: linear;
}

#appLoadingIndicator > * {
  background-color: #FFFFFF;
  display: inline-block;
  height: 30px;
  -webkit-border-radius: 15px;
  margin: 0 5px;
  width: 30px;
  opacity: 0.8;
}

@-webkit-keyframes appLoadingIndicator {
  0% {
    opacity: 0.8
  }
  50% {
    opacity: 0
  }
  100% {
    opacity: 0.8
  }
}

.x-form{
  direction: ltr;

  .x-scroll-container > *{
    direction: rtl;
  }
}