/**
 * @var {color} $base-color
 * The primary color variable from which most elements derive their color scheme.
 */
$base-color: #29AFBB;

$background-color: #FFF;
$page-bg-color: $background-color;

$toolbar-base-color: $base-color !default;

$tabs-dark: $base-color;

$list-bg-color: $background-color;
$list-color-inactive: #ADADAD;

//Login Page
$login-background-color: $base-color;

//Navigation Top Bar
$navigationTabbarHeight: 79px;