@include sencha-button-ui('loginButton', desaturate(darken(#88B518, 10%), 5%));
@include sencha-toolbar-ui('dark', $toolbar-base-color);

@include icon('calendar');
@include icon('mail');
@include icon('chat2');
@include icon('key');
@include icon('messages', 'messages');
@include icon('reports', 'reports');


.x-tab {
  background-color: $list-bg-color;
  border: none;
  color: $list-color-inactive !important;
}

.x-tabbar.x-docked-top, .x-toolbar-dark.x-toolbar {
  height: $navigationTabbarHeight;
  padding: 0;

  .x-tab {
    @if $include-border-radius {
      @include border-radius(0);
    }

    &.x-tab-icon {
      padding: (($navigationTabbarHeight/2) - 15px) 1em (($navigationTabbarHeight/2) + 15px) 1.5em !important;
    }
  }
}



//Navigation Icons
@mixin navigation-icon($name, $filename) {
  .x-tab .x-button-icon.#{$name}::before {
    background: url(../images/NazarethTheme/NavigationBar/#{$filename}) !important;
    background-size: 30px 30px !important;
    background-repeat: no-repeat;
    width: 30px !important;
    height: 30px !important;
    content: " " !important;
  }
}

@include navigation-icon('home', 'home.png');
@include navigation-icon('messages', 'messages.png');
@include navigation-icon('calendar', 'calendar.png');
@include navigation-icon('reports', 'reports.png');
@include navigation-icon('user', 'phone.png');
//@include navigation-icon('mail','.png');
//@include navigation-icon('','.png');
//@include navigation-icon('','.png');