.products {
  background: #fff;

  .x-innerhtml {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    border-width: 0 1px 1px 0;

    .x-phone & {
      border-right: 0;
      border-bottom: 0;
    }
  }

  .row {
    display: table-row;

    > * {
      display: table-cell;
    }

    &:last-child .product {
      border-bottom: 0;
    }
  }

  .product {
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #ddd;
    text-align: center;

    .image {
      height: 160px;
      background-repeat: no-repeat;
      background-position: center center;
    }

    img {
      @include border-radius;
    }

    .name {
      width: 100%;
      padding: 20px 10px 5px 10px;
      color: #014637;
      font-size: 16px;
      font-family: 'Quattrocento Sans', sans-serif;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .price {
      width: 100%;
      font-size: 12px;
      color: #aaa;
      font-family: 'Quattrocento Sans', sans-serif;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .landscape .product {
    width: 25%;

    .image {
      margin-top: 36px;
    }
  }

  .portrait .product {
    width: 33%;

    .image {
      margin-top: 18px;
    }
  }

  a {
    margin-top: 0;
  }
}

.product-view {
  background: #fff;
  padding: 30px;

  .product-view-inner {
    .description {
      padding-left: 15px;

      ul li {
        list-style: disc outside none;
        margin-left: 25px;
      }
    }

    .name {
      font-family: 'Quattrocento Sans', sans-serif;
      line-height: 28px;
      font-size: 20px;
      font-weight: 700;
      color: #014637;
    }

    .text {
      font-size: 14px;
      color: #aaa;
      line-height: 20px;
    }

    .x-img {
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
}

.product-view, .products {
  a:link,
  a:active,
  a:visited {
    display: block;
    @include background-gradient(#028257, glossy);
    @include border-radius(5px);
    border: 1px solid darken(#028257, 10);
    margin: 30px 60px;
    text-align: center;
    padding: 10px;
    font-size: 22px;
    font-family: 'Quattrocento Sans', sans-serif;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
    text-decoration: none;
  }
}

.navigationBar .x-tabbar-inner {
  _margin-top: 350px;
}