@mixin reportIcons($parent) {

  & .x-data-item-inner div.x-button {
    background-color: transparent;
    background-size: 20px;
    background-position-x: 10px;
  }

  #{$parent} {
    background-repeat: no-repeat;
    background-position: 5px;
    background-size: 32px;

    height: 40px;
    width: 40px;
    border: none;
    border-radius: 3px;

    &.attendance:before,
    &.kidExit:before,
    &.health:before,
    &.breakfast:before,
    &.eating:before,
    &.sleeping:before,
    &.comment:before,
    &.missingItem:before {
      content: '' !important;
    }

    &.attendance {
      background-color: #8FBA13;
      background-image: url(../images/eventIcons/attendance/checkin.png);

      &.Attendance {
        background-image: url(../images/eventIcons/attendance/attandance.png);
      }

      &.Absence {
        background-image: url(../images/eventIcons/negative.png);
      }
    }

    &.kidExit {
      background-color: #F49038;
      background-image: url(../images/eventIcons/kidExit/poo.png);

      &.Well {
        background-image: url(../images/eventIcons/kidExit/well.png);
      }

      &.Warning {
        background-image: url(../images/eventIcons/negative.png);
      }
    }

    &.health {
      background-color: #D56DAA;
      background-image: url(../images/eventIcons/health/health.png);

      &.Well {
        background-image: url(../images/eventIcons/health/well.png);
      }

      &.Warning {
        background-image: url(../images/eventIcons/negative.png);
      }
    }

    &.breakfast {
      background-image: url(../images/eventIcons/breakfast/breakfast.png);

      &.Well {
        background-image: url(../images/eventIcons/breakfast/well.png);
      }

      &.Warning {
        background-image: url(../images/eventIcons/negative.png);
      }
    }

    &.eating {
      background-color: #EEBD34;
      background-image: url(../images/eventIcons/eating/eating.png);

      &.Well {
        background-image: url(../images/eventIcons/eating/positive.png);
      }

      &.EatLittle {
        background-image: url(../images/eventIcons/eating/eatLittle.png);
      }

      &.EatMainMeal {
        background-image: url(../images/eventIcons/eating/eatMainMeal.png);
      }

      &.EatSubMeal {
        background-image: url(../images/eventIcons/eating/eatSubMeal.png);
      }

      &.NoEating {
        background-image: url(../images/eventIcons/negative.png);
      }
    }

    &.sleeping {
      background-color: #FB758D;
      background-image: url(../images/eventIcons/sleeping/sleep.png);

      &.Well {
        background-image: url(../images/eventIcons/sleeping/well.png);
      }

      &.Warning {
        background-image: url(../images/eventIcons/negative.png);
      }
    }

    &.comment {
      background-color: transparent;
      background-image: url(../images/eventIcons/comment/comment.png);
    }

    &.missingItem {
      background-color: #B66BDA;
      background-image: url(../images/eventIcons/missingItem/missingItem.png);
    }
  }
}