.reportsMain {
  .pageHeader {
    border-bottom-color: transparent;
  }

  .datepickerfield {
    display: table !important;
    margin-right: auto;

    .x-input-el {
      padding: 0;
      margin-top: 19px;
    }

    .x-component-outer {
      margin-left: 20px;

      .x-field-input {
        //        background-image: url(../images/openDatePicker.png);
        //        background-repeat: no-repeat;
        //        background-position: 0px 15px;
        //
        //        margin-left: 20px;

        input {
          text-align: left;
          width: 400px;
        }
      }
    }

    &.x-field {
      background-color: initial;

      input {
        background-color: initial;
        font-size: 20pt;
        color: #adadad;
        -webkit-text-fill-color: #adadad;
      }
    }

    .x-component-outer:after {
      display: none;
    }
  }

  .reports {
    .icons {
      height: 60;

      &.listHeader {
        .x-button {
          background-color: transparent;
          margin: 5px 70px 5px 5px;

          &.more:before {
            color: #ffffff;
          }
        }

        div.x-inner {
          margin-left: 95px; //LTR
          margin-right: 95px; //RTL
        }
      }

      &.listItem {
        padding: 10px;
        border-top: 1px solid #adadad;

        .x-img {
          margin: 5px 0px 5px 5px;
          width: 80px;
          height: 80px;

          .x-innerhtml{
            color: #007F8B;
            font-size: 14px;
          }
        }

        .x-button {
          margin: 20px 70px 5px 5px;
          background-color: transparent;
          background-image: none;

          &:not(.more):before {
            content: "?";
            font-size: 22px;
            color: #878286;
            margin-left: 6px;
          }
        }
      }

      .x-img.x-img-background {
        background-size: 100% 100%;
      }

      @include reportIcons('.x-button');
    }

    .comment {
      margin-left: -40px;
      width: 30%;

      .x-inner {
        .x-innerhtml {
          color: #adadad;

          max-height: 60px;
          overflow: hidden;
          font-size: 17px;

          position: relative;
          -webkit-transform: translateY(25%);
          -ms-transform: translateY(25%);
          transform: translateY(25%);
        }
      }
    }
  }
}

.reportsModalReport {
  background-color: #FFF;
  border: 5px solid #000;
  height: 70%;
  width: 70%;

  .modalReportHeaderImage {
    height: 55px;
    width: 55px;
  }

  .options {
    .x-body {
      .x-list-item {
        height: 50px;

        .x-innerhtml {
          position: relative;

          div {
            float: right;
          }

          .text {
            margin-top: 5px;
            margin-left: 7px;
          }
        }
      }

      @include reportIcons('.icon');
      .icon {
        background-color: transparent !important;
        background-position: 0px;
        height: 32px;
        width: 32px;
      }
    }
  }

  .reportFieldset {
    margin: 0px 2px 2px 2px;
    background-color: #f7f7f7;

    .x-form-fieldset-title {
      margin: 2px 2px 2px 2px;
    }

    .expandedField textarea {
      height: 360px;
    }
  }

  .modalReportButton {
    width: 100px;

    &.save {
      margin-left: 3px;
    }
  }
}