.x-button-filebrowse
{
  background-color: #249ba6;
  background-image: none;
  color: white;
  max-width: 80px;
}

.mainTabBar .x-title{
  position: absolute !important;
  left: 0;
  top: 53%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #FFF;
}

.x-container {
  .pageHeader {
    height: 95px;
    border-bottom: solid #adadad 1px;

    .x-button {
      margin: 30px 0px 25px 30px;
      background: #29b5c2;
      font-size: 20px;
      color: #FFF;
      border: none;
      font-weight: normal;
    }

    .pageTitle {
      margin: 25px 30px 30px 30px;
      font-size: 20pt;
      color: #32bdca;
    }
  }

  &.childrenMain {
    margin: 15px;

    .tapText {
      padding-top: 5px;
      padding-bottom: 20px;
      font-size: 14px;
    }

    .childActions {
      margin: -15px;

      .x-toolbar-dark {
        /*
                background-image: -webkit-linear-gradient(top, #1e93e4, #1676b9 3%, #11598c);
                background-image: -moz-linear-gradient(top, #1e93e4, #1676b9 3%, #11598c);
                background-image: -o-linear-gradient(top, #1e93e4, #1676b9 3%, #11598c);
                background-image: linear-gradient(top, #1e93e4, #1676b9 3%, #11598c);
        */
        background-image: none;
        border-color: black;

        .x-button {
          height: 44px;
          border-radius: 0;
        }
      }
    }
  }

  .childDetails, .contacts {
    .x-dock-body {
      margin: 10px;
    }
  }

  .childDetails {
    .x-dock-body {

      .detailsInfo {
        .x-innerhtml {
          display: table;

          section {
            height: 35px;
            display: table-row;

            span {
              vertical-align: middle;
              display: table-cell;
              border-bottom: 1px solid #333;
            }
          }
        }

        .infoImage {
          margin-left: 15px;

          img {
            width: 250px;
          }
        }
      }
    }

    .x-tabbar {
      width: 200px;
      background: #eeeeee;
      border-left: 1px solid #ccc;

      .x-tab {
        border-left: none;
      }

      .x-layout-box-item {
        height: 40px;
        padding-top: 7px;

        &.x-tab-active {
          color: #FFF;
          border-bottom: none;
          background: #0e4b75;
        }
      }
    }

    .Report, .SummaryReport {
      .x-list {
        background: none;
        font-size: 20px;
      }
      .x-list-item {
        height: 30px;
        vertical-align: top;
        display: table-row;

        div {
          display: inline-block;
          padding-left: 10px;
          vertical-align: top;

          &.description {
            overflow: hidden;
            _width: 70%;
          }
        }

      }
    }

    .SummaryReport {
      .x-list {
        font-size: 30px;

        .x-list-item {
          .x-innerhtml {
            padding-left: 160px;
          }
        }
      }
    }
  }

  .contactsMain {
    .workers, .providers, .groups {
      .x-list-item {
        font-size: 0.9em;
        line-height: 1.4em;

        .avatar {
          float: right;
          border: 0;
          width: 100px;
          height: 100px;
          background-size: 100px 100px;
          background-repeat: no-repeat;
        }
        .contactBody {
          float: right;
          margin-top: 20px;
        }
        h1 {
          font-size: 18pt;
          color: #32bdca;
        }
        h1, h2 {
          font-weight: bold;
          margin-left: 60px;
        }
        h3 {
          margin-left: 60px;
        }
        h4 {
          color: #999;
          margin-left: 60px;
        }
      }
    }

    .providers, .groups {
      .x-list-item {
        h1, h2, h3, h4 {
          margin-left: 0px;
        }
      }
    }

    .detailsInfo {
      .x-innerhtml {
        display: table;

        section {
          height: 35px;
          display: table-row;

          span {
            vertical-align: middle;
            display: table-cell;
            border-bottom: 1px solid #333;
          }
        }
      }

      .infoImage {
        margin-left: 15px;

        img {
          width: 250px;
        }
      }
    }

    .groups, .workers {
      div.x-list-inner {

        div.x-inner {
          display: table;
        }

        div.x-list-item {
          div.x-innerhtml {
            display: table-row;
            height: 85px;

            div {
              display: table-cell;
            }

            div.avatar {
              margin: 20px 5px 20px 20px;
            }

            div.child {
              width: 150px;

              position: relative;
              top: -15px;

              overflow: hidden;
              display: inline-block;
              margin-right: 10px;

              h1 {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
              }
            }

            div.contacts {
              display: inline-block;
              width: 200px;
              margin-top: 10px;

              .avatar {
                width: 60px;
                height: 60px;
                background-size: 60px 60px;
                background-repeat: no-repeat;
                background-image: url(../images/defaultavatars/man.png);
                margin-left: 10px;
                margin-top: 0;
              }
            }
          }
        }
      }
    }

    .x-tabbar {
      width: 180px;
      background: $list-bg-color;
      padding-top: 20px;

      .x-tab {
        border-left: none;
      }

      .x-layout-box-item {
        height: 50px;
        //padding-top: 7px;

        font-size: 20pt;
        color: #ADADAD;

        &.x-tab-active {
          color: #32bdca !important;
          border-bottom: none;
          border-top: none;
        }

        span.x-button-label {
          text-align: start;
          padding-right: 20px;
          font-weight: normal;
        }
      }
    }

    .Report, .SummaryReport {
      .x-list {
        background: none;
        font-size: 20px;
      }
      .x-list-item {
        height: 30px;
        vertical-align: top;
        display: table-row;

        div {
          display: inline-block;
          padding-left: 10px;
          vertical-align: top;

          &.description {
            overflow: hidden;
            _width: 70%;
          }
        }

      }
    }

    .SummaryReport {
      .x-list {
        font-size: 30px;

        .x-list-item {
          .x-innerhtml {
            padding-left: 160px;
          }
        }
      }
    }
  }

  .detailsContacts {
    font-size: 0.9em;
    line-height: 1.4em;

    .detailsContacts-item {
      height: 95px;
      border-bottom: 1px solid #333;
    }

    .avatar {
      //background-position: center center;
      background-repeat: no-repeat;
      -webkit-border-radius: 0.5em;
      float: left;
      border: 0;
      border-radius: 0.5em;
      width: 75px;
      height: 90px;
      background-size: 75px auto;
      margin-right: 15px;
    }
    h3 {
      font-weight: bold;
      margin-left: 60px;
    }
    h4 {
      color: #999;
      margin-left: 60px;
    }
  }

  .calendarMain {

    .calendarView {
      &.touch-calendar-view {
        .x-body.x-scroll-view {

        }

        div.event-bar {
          background-color: #CAD6E8;
          //border: none;
          color: #000;
          font-size: 10px;
          font-weight: normal;
          @include border-radius(0px);
          letter-spacing: 0.1em;

        }

        table, thead {
          background: #e8e8e8;
          background-color: #e8e8e8;
        }

        //      $colours: rgb(255, 0, 0), green, rgb(0, 255, 0), rgb(0, 0, 255), rgb(128, 128, 128), rgb(255, 255, 0);
        //
        //      @each $colour in $colours {
        //        .#{$colour} {
        //          background-color: rgba($colour, 1) !important;
        //        }
        //      }

        thead th {
          height: 80px;
          font-size: 14px;
          color: #555;
          padding-bottom: 2px;

          span {
            top: 0px;
            color: #666;
            font-size: 24px;
          }

          &:first-child, &:last-child {
            background-position-y: 9px;
            cursor: pointer;
            width: 15%;
            background-size: 80px;
          }

          &:first-child {
            background-image: url(../images/calendar/previous_month.png);

          }

          &:last-child {
            background-image: url(../images/calendar/next_month.png);
          }
        }

        tbody td {
          border: none;

          outline-offset: -5px;
          outline-width: 5px;
          outline-color: #e8e8e8;
          outline-style: solid;

          padding: 3px 0px 0px 0px;

          text-align: center;

          font-size: 20px;
          font-weight: normal;
          color: #32bdca;

          background: #ffffff;

          &.today {
            background-color: #bdbdbd;
            background-image: none;

            -webkit-box-shadow: rgb(0, 0, 0) 0px 0px 8px 0px inset;;
            color: #3F4E5E;
            border: none;
          }

          &.selected {
            background: none;
            background-color: #f0f0f0;
            border: none;
            border-right: 1px solid #c0c0c0;
            border-top: 1px solid #c0c0c0;
          }

          &.weekend {
            @include background-gradient(lighten(#f0f0f0, 80%), 'recessed');
          }

          &.prev-month {
            background: #bdbdbd;
            color: #fff;
          }
        }
      }
    }

    .eventList {

      .eventListTitle {
        color: #32bdca;
        font-size: 23px;
        border-bottom: solid 1px #ababab;
      }

      .x-list-item {

        color: #8FBA13;
        font-size: 22px;
        font-weight: normal;
        border: none;

        time {
          color: #ababab;
        }

        .x-innerhtml {
          padding: 0px 20px 0px 0px;

          display: list-item;
          list-style: initial;
          list-style-type: disc;
          list-style-position: inside;
          span {
            color: #32bdca;
          }
        }

      }
    }

    .events {
      .x-innerhtml {
        h1, h2, h3, h4, h5, h6 {
          padding-left: 10px;
        }

        :first-child {
          padding-left: 0px;
        }

        h1 {
          font-size: 20px;
          font-weight: bold;
        }

        h2 {
          font-size: 18px;
          font-weight: bold;
        }

        h3 {
          font-size: 16px;
        }

        h4 {
          font-size: 14px;
        }

        h5 {
          font-size: 12px;
        }

        h6 {
          font-size: 10px;
        }
      }
    }

    .eventForm{
      .errorMessage{
        color: red;
        text-align: center;
        font-size: .8em;
      }
    }
  }

  .messagesCard {
    .x-dock-body {
      .messagesMain {
        .x-container.x-list-normal.x-list {
          width: 300px;
        }

        .sentMessagesPanel {
          font-size: 20px;
          border-left: solid #adadad 1px;

          date {
            font-size: 14px;
            display: block;
            color: #adadad;
          }

          .x-list-inner .x-list-item {
            background-image: none;
            color: #555;

            &.x-item-selected.x-list-item-tpl {
              background-color: #f3f3f3;
              border-top-color: transparent;
            }
          }

        }

        .messageDetails {
          margin-left: 30px;
          margin-right: 30px;
          line-height: 40px;

          .detailsHeader {
            color: #32bdca;
            font-size: 18px;

            h3 {
              float: left;

              span {
                color: #adadad;
              }
            }

            h3:first-child {
              float: right;
            }
          }

          h1 {
            color: #555;

            font-size: 28px;

            padding-top: 10px;
            padding-bottom: 10px;

            clear: both;
          }

          .messageDetailsBody {
            font-size: 18px;
            color: #969696;
            line-height: 25px;
          }

          .messageDetailsRecipients {
            margin: 0px;
          }

          .facesGrid {
            .facesGrid-container {
              margin: 0;
            }

            .facesGrid-item {
              width: 80px;
              height: 80px;

              .image {
                height: 78px;
                max-width: 80px;
                background-size: 80px 98px;

                body:not(.x-phone) & {
                  width: 80px;
                }

                &.unselected {
                  filter: initial;
                  -webkit-filter: initial;
                  -moz-filter: initial;
                  -ms-filter: initial;
                  -o-filter: initial;
                  opacity: 1;
                }
              }
            }
          }
        }
      }

      .submitMessageButton {
        width: 200px;
        background-color: #249ba6;
        background-image: none;
        color: white;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  .newMessage {
    direction: ltr;

    div.x-scroll-container div.x-form-inner {
      direction: rtl;
    }
  }

}

.x-container.x-menu.settingsMenu {
  background: #20A6B1;

  @include st-box-shadow(inset -3px 0px 20px -10px black);
  -webkit-box-shadow: inset -3px 0px 20px -10px black;
  box-shadow: inset -3px 0px 20px -10px black;
  padding: 0px;

  .x-button {
    background: #20A6B1;
    background-color: #20A6B1;
    padding: 15px;
    border: none;
    padding-right: 1em;
    border-radius: 0;
    border-bottom: 1px solid #208C96;
    margin: 0px;
    height: 55px;
    font-size: 22px;
    color: #fff;

    &.x-button-pressing {
      background-color: #1C7880;
      background-image: none;
    }

    .x-button-label {
      line-height: 1.3em;
      text-align: left;
      font-weight: 300;
    }

    .x-button-icon.fa {
      top: -5px;

      &:before {
        font-family: "FontAwesome";
      }
    }

  }
}

// Face list
@import 'facesGrid';

// Login
.login {
  background-color: $login-background-color;
  background: url(../images/NazarethTheme/Login/background.jpg);

  .x-body {
    .x-scroll-container {
      width: 250px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 10%;
      background-color: initial;
    }

    .x-form-inner {
      //background-color: $background-color;
    }
  }

  .loginLogo {
    width: 147px;
    height: 160px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
}

// Categories list
.todayEvents-list {
  background: #f0f0f0;

  .x-dataview-item {
    height: 30px;
    vertical-align: top;
    display: table-row;

    div {
      display: inline-block;
      padding-left: 10px;
      vertical-align: top;

      &.description {
        overflow: hidden;
        _width: 70%;
      }
    }

  }
}

// Products
@import 'product';

.x-tab .x-button-icon {
  &.messages:before {
    font-family: "FontAwesome";
    content: "\f0a1";
  }

  &.reports:before {
    font-family: "FontAwesome";
    content: "\f0ae";
  }
}

.x-button-icon.fa {
  color: #FFF;

  &:before {
    font-family: "FontAwesome";
  }
}

.eventView {
  padding-left: 10px;
  padding-right: 10px;

  .listTitle {
    margin-top: 15px;
    font-weight: bold;
  }

  .facesGrid {
    .facesGrid-inner {
      .x-landscape & {
        padding-top: 0px;
      }
    }

    .facesGrid-item {
      margin: 0 7px 0 0;

      &:first-child{
        margin-right: 0px;
      }
    }

    .facesGrid-item {
      width: 60px;
      height: 60px;

      .image{
        height: 58px;
        max-width: 60px;
        background-size: 60px 78px;

        body:not(.x-phone) & {
          width: 60px;
        }
      }
    }
  }
}

// Reports
@import 'reports';

.contactUs {
  .x-button {
    width: 400px;

    margin-left: auto;
    margin-right: auto;
  }
}