/**
 * @class Ext.dataview.List
 */

.x-list {
  background: #fff;
}

.x-list-item {
  border-bottom: 1px solid #F7F3F7;
  color: #292429;
  font-size: 20px;
  padding: 0 10px;
  line-height: 38px;
}

.x-list .x-list-disclosure {
  margin-top: 13px;
  border: 0;
  background: transparent;

  &:before {
    content: '>';
    color: #444;
    font-weight: bold;
    line-height: 19px;
    font-size: 22px;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.x-item-selected .x-list-disclosure:before {
  color: #000;
}

.x-list .x-list-item.x-item-selected .x-dock-horizontal,
.x-list .x-list-item.x-item-selected.x-list-item-tpl {
  background-color: transparent;
  @include box-shadow(inset 0 0 0 2px $base-color);
}

.xlist .x-item-selected {
}

.x-list .x-list-header {
  font-weight: normal;
  font-size: 14px;
  padding: 2px 10px;
  border-top-color: #D1D1D1;
  border-bottom: 2px solid #0AA9DC;
  @include background(linear-gradient(color-stops(#FEFEFE, #DDDDDD)));
}

.x-indexbar {
  color: #888;
  padding: 3px 0;
  @include border-radius(10px);
}

.x-indexbar-vertical {
  margin-right: 4px;
}

.x-indexbar-pressed {
  background: rgba(150, 150, 150, .2);
}

.x-list-item-odd {
  &.x-list-item-tpl,
  .x-dock-horizontal {
    background-color: darken(#fff, 5%);
    border-bottom: 1px solid darken(#fff, 5%);
  }
}