/**
 * @class Ext.field.Radio
 */
.x-field-radio .x-field-mask {
  &::after {
    color: transparent;
  }
}

.x-input-radio:checked + .x-field-mask::after {
  color: $ios7-blue;
}

.x-item-disabled {
  .x-input-radio:checked + .x-field-mask::after {
    color: lighten($ios7-blue, 20%);
  }
}